body {
  background-color: #E0E4CC; }

/* Color Themes - Variables */
/* Common Colors - Variables */
/* Mixins */
/* Button Global */
.btn {
  display: inline-block;
  margin: 1rem;
  padding: .938em 1.875em;
  border: .094em solid;
  border-radius: .625em;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  font: bold 1.8rem sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  cursor: pointer; }

/* Themes */
.purple {
  border-color: #20adca;
  background-color: #69d2e7; }
  .purple:hover {
    background-color: #4fcae3;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #72d5e8; }
  .purple:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #126272, inset 0 0.063em #20adca, inset 0 -0.188em #20adca; }

.blue {
  border-color: #5fbdb8;
  background-color: #a7dbd8; }
  .blue:hover {
    background-color: #91d2ce;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #aededb; }
  .blue:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #35817d, inset 0 0.063em #5fbdb8, inset 0 -0.188em #5fbdb8; }

.green {
  border-color: #b3550a;
  background-color: #f38630; }
  .green:hover {
    background-color: #f17513;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #f48c3a; }
  .green:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #522705, inset 0 0.063em #b3550a, inset 0 -0.188em #b3550a; }

.orange {
  border-color: #943e00;
  background-color: #fa6900; }
  .orange:hover {
    background-color: #db5c00;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ff6e05; }
  .orange:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #2e1300, inset 0 0.063em #943e00, inset 0 -0.188em #943e00; }
