body {
  background-color: #D1F2A5; }

/* Color Themes - Variables */
/* Common Colors - Variables */
/* Mixins */
/* Button Global */
.btn {
  display: inline-block;
  margin: 1rem;
  padding: .938em 1.875em;
  border: .094em solid;
  border-radius: .625em;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  font: bold 1.8rem sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  cursor: pointer; }

/* Themes */
.purple {
  border-color: #dbf454;
  background-color: #effab4; }
  .purple:hover {
    background-color: #e9f897;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #f1fbbe; }
  .purple:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #b5d40e, inset 0 0.063em #dbf454, inset 0 -0.188em #dbf454; }

.blue {
  border-color: #ff9026;
  background-color: #ffc48c; }
  .blue:hover {
    background-color: #ffb46d;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ffc996; }
  .blue:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #bf5d00, inset 0 0.063em #ff9026, inset 0 -0.188em #ff9026; }

.green {
  border-color: #ff521a;
  background-color: #ff9f80; }
  .green:hover {
    background-color: #ff8861;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ffa78a; }
  .green:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #b32c00, inset 0 0.063em #ff521a, inset 0 -0.188em #ff521a; }

.orange {
  border-color: #e9104d;
  background-color: #f56991; }
  .orange:hover {
    background-color: #f34c7c;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #f67398; }
  .orange:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #89092e, inset 0 0.063em #e9104d, inset 0 -0.188em #e9104d; }
