<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1>Welcome to my site!</h1>

<p>INDEX<br>
<a href="http://warm-cliffs-4444.herokuapp.com/alert">About</a><br>
<a href="http://warm-cliffs-4444.herokuapp.com/alert">Alert</a><br>
<a href="http://warm-cliffs-4444.herokuapp.com/alert/yourNameHere">Alert/yourNameHere</a><br>
<a href="http://warm-cliffs-4444.herokuapp.com/hello">Hello</a><br>
<a href="http://warm-cliffs-4444.herokuapp.com/hello/yourNameHere">Hello/yourNameHere</a><br>
</p>
</body>
</html>
